.wrapper {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-weight: bold;
    line-height: 34px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 64px;
    font-size: 2rem;
}

.board_row::after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: row;
}

.game_info {
    margin-left: 20px;
}
